# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [133]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [134]:
# Create a District Summary

In [135]:
# Total number of schools

tschools = school_data_complete['school_name'].nunique()
tschools

15

In [136]:
# Total number of students

tstudents = school_data_complete['Student ID'].nunique()
tstudents

39170

In [137]:
# Total budget

tbudget = school_data["budget"].sum()
tbudget

24649428

In [138]:
# Average math score

mathmean = school_data_complete["math_score"].mean()
mathmean

78.98537145774827

In [139]:
# Average reading score

readmean = school_data_complete["reading_score"].mean()
readmean

81.87784018381414

In [140]:
# Overall average score

allmean = (mathmean+readmean)/2
allmean

80.43160582078121

In [141]:
# Percentage of passing math (70 or greater)

passmath = len(school_data_complete[school_data_complete["math_score"] >= 70])

passmath

percpassmath = passmath/tstudents *100
percpassmath

74.9808526933878

In [142]:
#percentage of passing reading score (70 or greater)

passread = len(school_data_complete[school_data_complete["reading_score"] >= 70])

percpassread = passread / tstudents * 100
percpassread

85.80546336482001

In [143]:
fulldf = pd.DataFrame({
    'Total Schools': [tschools],
    'Total Students': [tstudents],
    'Total Budget': [tbudget],
    'Average Math Score': [mathmean],
    'Average Reading Score': [readmean],
    'Overall Score':[allmean],
    'Percentage Passing Math': [percpassmath],
    'Percentage Passing Reading': [percpassread],
})
fulldf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Score,Percentage Passing Math,Percentage Passing Reading
0,15,39170,24649428,78.985371,81.87784,80.431606,74.980853,85.805463

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [144]:
#new df by schools
grouped_school_df = school_data_complete.groupby(["school_name"])

In [145]:
#school type
schooltype = grouped_school_df["type"].first()
schooltype

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [146]:
#total students
totalStudents = grouped_school_df["Student ID"].count()
totalStudents

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [147]:
# Calculate total school budget
totalschoolbudget = grouped_school_df["budget"].first()
totalschoolbudget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [148]:
# Calculate per student budget
perStudentBudget = totalschoolbudget / totalStudents

perStudentBudget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [149]:
# Cacluate the avg math and reading score

avgMathScore = grouped_school_df["math_score"].mean()
avgMathScore

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [150]:
#calculate reading score

avgReadingScore = grouped_school_df["reading_score"].mean()
avgReadingScore

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

#### Find the passing rate for math and reading (above 70 points)

In [151]:
# Find the total counts of math result
MathCount = grouped_school_df["math_score"].count()
MathCount

# Find the counts for math result in each school that pass 70 or higher
PassingMath = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"])["math_score"].count()

# Calculate the math passing rate

percPassingMath = PassingMath / MathCount * 100
percPassingMath

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: math_score, dtype: float64

In [152]:
# Find the total counts of read result
ReadCount = grouped_school_df["reading_score"].count()
ReadCount

# Find the counts for read result in each school that pass 70 or higher
passingRead = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()


# Calculate the read passing rate
percPassingReading = passingRead / ReadCount * 100
percPassingReading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: reading_score, dtype: float64

In [153]:
# Calculate the overall passing rate (average of the math and reading passing rate)

percOverallPassingRate = (percPassingMath + percPassingReading) / 2
percOverallPassingRate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [154]:
schools_df = pd.DataFrame({"School Type": schooltype,
      "Total Students": totalStudents,
      "Total School Budget": totalschoolbudget,
      "Per Student Budget": perStudentBudget,
      "Average Math Score": avgMathScore,
      "Average Reading Score": avgReadingScore,
      "Percentage Passing Math": percPassingMath,
      "Percentage Passing Reading": percPassingReading,
      "Percentage Overall Passing Rate": percOverallPassingRate})

schools_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [155]:
#  Sort and display the top five schools in overall passing rate

schools_df.sort_values(["Percentage Overall Passing Rate"], ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [156]:
#  Sort and display the worst five schools in overall passing rate

schools_df.sort_values(["Percentage Overall Passing Rate"], ascending=True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [157]:
# Create table that lists the average math score for each school of each grade level.

#sort by grade
grade9 = school_data_complete[(school_data_complete["grade"] == "9th")]
grade10 = school_data_complete[(school_data_complete["grade"] == "10th")]
grade11 = school_data_complete[(school_data_complete["grade"] == "11th")]
grade12 = school_data_complete[(school_data_complete["grade"] == "12th")]

In [158]:
# Calculate the average math score for 9th grade in each school

grade9_scores = grade9.groupby(["school_name"]).mean()["math_score"]

In [159]:
# Calculate the average math score for 10th grade in each school

grade10_scores = grade10.groupby(["school_name"]).mean()["math_score"]

In [160]:
# Calculate the average math score for 11th grade in each school

grade11_scores = grade11.groupby(["school_name"]).mean()["math_score"]

In [161]:
# Calculate the average math score for 12th grade in each school

grade12_scores = grade12.groupby(["school_name"]).mean()["math_score"]

In [162]:
grade_math_scores_df = pd.DataFrame({"9th grade": grade9_scores,
                                "10th grade":grade10_scores,
                                "11th grade":grade11_scores,
                                "12th grade":grade12_scores})

grade_math_scores_df

                       9th grade  10th grade  11th grade  12th grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [163]:
# Create table that lists the average reading score for each school of each grade level.

In [164]:
# Calculate the average reading score for 9th grade in each school

grade9_rscores = grade9.groupby(["school_name"]).mean()["reading_score"]

In [165]:
# Calculate the average reading score for 10th grade in each school

grade10_rscores = grade10.groupby(["school_name"]).mean()["reading_score"]

In [166]:
# Calculate the average reading score for 11th grade in each school

grade11_rscores = grade11.groupby(["school_name"]).mean()["reading_score"]

In [167]:
# Calculate the average reading score for 12th grade in each school

grade12_rscores = grade12.groupby(["school_name"]).mean()["reading_score"]

In [168]:
grade_read_scores_df = pd.DataFrame({"9th grade": grade9_rscores,
                                "10th grade":grade10_rscores,
                                "11th grade":grade11_rscores,
                                "12th grade":grade12_rscores})

grade_read_scores_df

                       9th grade  10th grade  11th grade  12th grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [169]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [171]:
schools_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [173]:
# Create a new column to show budget per student in each row
def condition(x):
    if x < 585 : 
        return group_names[0]
    elif x >= 585 and x < 615:
        return group_names[1]
    elif x >= 615 and x < 645: 
        return group_names[2]
    elif x >= 645 and x < 675:
        return group_names[3]
    else: 
        return group_names[4]
schools_df['Spending Ranges per Student'] = schools_df['Per Student Budget'].map(condition)
schools_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing Rate,spending ranges per student,Spending Ranges per Student
school_name,,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645,$615-645
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645,$615-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645,$615-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645,$615-645
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675,$645-675
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585,<$585
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675,$645-675
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675,$645-675
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-615,$585-615
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645,$615-645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-615,$585-615
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645,$615-645
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585,<$585
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585,<$585

In [194]:
# Calculate the average math score within each spending range

one = schools_df[schools_df['Spending Ranges per Student'] == '<$585']
avg_one = one.sum()
avg_one['Average Math Score']/4 #4 schools in the <585 range

83.45539900855027

In [195]:
two = schools_df[schools_df['Spending Ranges per Student'] == '$585-615']
avg_two = two.sum()
avg_two['Average Math Score']/2 #2 schools in the 585-615 range

83.59968584755637

In [196]:
three = schools_df[schools_df['Spending Ranges per Student'] == '$615-645']
avg_three = three.sum()
avg_three['Average Math Score']/6 #6 schools in the 615-645 range

79.0792248837525

In [203]:
four = schools_df[schools_df['Spending Ranges per Student'] == '$645-675']
avg_four = four.sum()
avg_four['Average Math Score']/3 #3 schools in the 645-675 range

76.99720981240274

In [204]:
# Calculate the average reading score within each spending range

oner = schools_df[schools_df['Spending Ranges per Student'] == '<$585']
avg_one = oner.sum()
avg_one['Average Reading Score']/4 #4 schools in the <585 range

83.93381405396646

In [205]:
twor = schools_df[schools_df['Spending Ranges per Student'] == '$585-615']
avg_two = twor.sum()
avg_two['Average Reading Score']/2 #2 schools in the 585-615 range

83.88521128257074

In [206]:
threer = schools_df[schools_df['Spending Ranges per Student'] == '$615-645']
avg_three = threer.sum()
avg_three['Average Reading Score']/6 #6 schools in the 615-645 range

81.8914356294729

In [207]:
fourr = schools_df[schools_df['Spending Ranges per Student'] == '$645-675']
avg_four = fourr.sum()
avg_four['Average Reading Score']/3 #3 schools in the 645-675 range

81.0278425571344

In [208]:
# Calculate the percentage passing rate for math in each spending range
passing_math_spending = schools_df.groupby('Spending Ranges per Student')['Percentage Passing Math'].mean()
passing_math_spending.sort_values(ascending = False)

Spending Ranges per Student
$585-615    94.230858
<$585       93.460096
$615-645    75.668212
$645-675    66.164813
Name: Percentage Passing Math, dtype: float64

In [209]:
# Calculate the percentage passing rate for reading in each spending range

passing_reading_spending = schools_df.groupby('Spending Ranges per Student')['Percentage Passing Reading'].mean()
passing_reading_spending.sort_values(ascending = False)

Spending Ranges per Student
<$585       96.610877
$585-615    95.900287
$615-645    86.106569
$645-675    81.133951
Name: Percentage Passing Reading, dtype: float64

In [210]:
# Calculate the percentage overall passing rate in each spending range

overall_passing_spending = schools_df.groupby('Spending Ranges per Student')['Percentage Overall Passing Rate'].mean()
overall_passing_spending.sort_values(ascending = False)

Spending Ranges per Student
$585-615    95.065572
<$585       95.035486
$615-645    80.887391
$645-675    73.649382
Name: Percentage Overall Passing Rate, dtype: float64

### Scores by School Size

* Perform the same operations as above, based on school size.

In [112]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [121]:
# Create a new column for the bin groups

school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], size_bins, labels = group_names)
size = school_data_complete.groupby('size_bins')

Look for the total count of test scores that pass 70% or higher

In [117]:
# math_pass_size

passingmath_size = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()
passingmath_size

size_bins
Small (<1000)         0.939525
Medium (1000-2000)    0.936165
Large (2000-5000)     0.686524
Name: Student ID, dtype: float64

In [118]:
# read_pass_size

passingread_size = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()
passingread_size

size_bins
Small (<1000)         0.960403
Medium (1000-2000)    0.967731
Large (2000-5000)     0.821252
Name: Student ID, dtype: float64

In [119]:
# Calculate the overall passing rate for different school size

overall_size = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()*100
overall_size

size_bins
Small (<1000)          125200
Medium (1000-2000)     772300
Large (2000-5000)     1655300
Name: Student ID, dtype: int64

### Scores by School Type

* Perform the same operations as above, based on school type.

In [123]:
# Create bins and groups, school type {'Charter', 'District'}
schoolType = school_data_complete.groupby("type")

Find counts of the passing 70 or higher score for the both test

In [124]:
# math pass size

pass_math_type = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/schoolType['Student ID'].count()
pass_math_type

type
Charter     0.937018
District    0.665184
Name: Student ID, dtype: float64

In [126]:
# reading pass size
pass_reading_type = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/schoolType['Student ID'].count()
pass_reading_type

type
Charter     0.966459
District    0.809052
Name: Student ID, dtype: float64

In [211]:
# Calculate the overall passing rate
overall_type = school_data_complete[(school_data_complete['reading_score'] >= 70) + (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()*100
overall_type

type
Charter     1216800
District    2528400
Name: Student ID, dtype: int64